## for loop

In [5]:
list = ["apple", "banana", "cherry"]
# for i in range(len(list)):
#     print("Index:", i, "Value:", list[i])
# for item in list:
#     print("Item:", item)
# for index, item in enumerate(list):
#     print("Index:", index, "Item:", item)
for i in list:
    print(i, end=' ')

apple banana cherry

In [6]:
for i in range(5):
    print(i, end=' ')

0 1 2 3 4

In [7]:
for i in range( 1 , 5):
    print(i, end=' ')

1 2 3 4

In [8]:
for i in range(5 , 16, 2):
    print(i, end=' ')

5 7 9 11 13 15

#### print even numbers in range 2 to 20 using conditions

In [11]:
for i in range(2,21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

#### print odd numbers in range 2 to 20 without using condition

In [10]:
for i in range(2,20,2):
    print(i+1)

3
5
7
9
11
13
15
17
19

## while loop

In [13]:
i=1
while i <= 5:
    print(i, end=' ')
    # i += 1
    i +=2

1 3 5

In [16]:
i = 1
while i <= 20:
    print(i, end=' ')
    i += 2

1 3 5 7 9 11 13 15 17 19

### even numbers

In [14]:
i=2
while i <= 20:
    if i % 2 == 0:
        print(i, end=' ')
    i += 1

2 4 6 8 10 12 14 16 18 20

#### odd numbers

In [15]:
i=2
while i <= 20:
    if i % 2 != 0:
        print(i, end=' ')
    i += 1

3 5 7 9 11 13 15 17 19

In [ ]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
i = 0
while i < len(list):
    print( 
         list[i])
    i += 1

apple
banana
cherry
orange
kiwi
melon
mango

#### break and continue

In [ ]:
list = ["apple", "banana", "cherry"]
for i in list:
    print(i, end=' ')
    if i == "banana":
        break

apple banana apple
cherry

In [28]:
for i in list:
    if i == "banana":
        continue
    print(i)

apple
cherry

### wap to print the multiplication table of a given number using while loop

In [29]:
num = int(input("Enter a number: "))
i = 1
while i <= 10:
    print(num*i)
    i += 1

6
12
18
24
30
36
42
48
54
60

#### wap to find the sum of all even numbers b/w 1 to 100 using for loop

In [31]:
sum = 0
for i in range(1, 101):
    if i % 2 == 0:
        sum += i
print("Sum of all even numbers between 1 and 100 is:", sum)

Sum of all even numbers between 1 and 100 is: 2550